// Body
//$body-bg: white;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1672274696005-80d5f259d941?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80') !important;
}

.rowserph {
    width: 100%;
    //max-width: 980px;
    //display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

@media (min-width: 600px) {
    .rowserph {
        display: flex !important;
        width: 100%;
        //max-width: 480px;
        flex-direction: column;
    }
}

.card {
    backdrop-filter: blur(5px) !important;
    background: rgba(255, 255, 255, 0.498) !important;
}

.dropdown-menu {
    backdrop-filter: blur(10px) !important;
    background: rgba(255, 255, 255, 0.498) !important;
}

.navbar-blur {
        background: rgba(255, 255, 255, 0.441) !important;
        backdrop-filter: blur(15px) !important;
}

.bcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    }

.logo {
        font-family: monospace;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
        word-spacing: 3px;
        //border: #333 solid 1px;
    }

.card2 {
    width: 100%;
    //display: block;
    //justify-content: center;
    //align-items: center;
    //max-width: 500px;
    padding: 10px;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.441);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: background-color 0.5s;
    
    .card2:hover {
        text-decoration: none;
        font-size: 1em;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.916);
    }

    h3 {
        margin: 0 0 20px;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
        border: #333 solid 1px;
    }
    .xcontainer {
        display: flex;
        flex-flow: row;
        align-items: center;
        margin: 0 0 -20px 0;
        padding: 0 0 0 5px;
        //border: #333 solid 1px;
        .xicon {
            margin: 0 5px 0 10px;
            padding: 10px;
            animation: pulse 2s infinite;
        }
        .xicon:hover
        {
            animation: none;
            color: white;
            transform: scale(1.3);
        }
    }

    .titulo {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
        //border: #333 solid 1px;
    }

    .xname {
        margin: 5px;
    }

    .container3 {
        display: flex;
        flex-flow: row;
        align-items: center;
        margin: auto;
        padding: 10px;
    }

    .content {
        display: inline;
        //flex-flow: column;
        align-items: center;
        margin: auto;
        padding: 10px;
        //display: flex;
        justify-content: space-between;
    }
    .description {
        text-align: justify;
        overflow: hidden;
        word-wrap: break-word !important; 
        width: 100%;
        margin: -15px 0px 15px 0; 
        padding: 0 15px 0 15px;
        font-size: 1rem;
        font-weight: 300;
        //backdrop-filter: blur(10px);
        color: rgb(0, 0, 0);
        //background-color: rgba(255, 255, 255, 0);
        //border: #333 solid 1px 0 0 1px;
        border-radius: 5px 5px 5px 5px;

    }

    .hour {
        display: flex;
        margin: 15px 0 -10px 10px;
        padding: 0 20px 0 0;
        justify-content: flex-end;
    }
    .flexbutton {
        //display: flex;
        //justify-content: space-between;
        width: 100%;
        //text-align: center;
        }
    .flextext {
        width: 50%;
        text-align: center;
        }
    .flex2 {
        width: 50%;
        text-align: center;
        flex: 1;
        }
    .newline {
        border: #333 solid 1px;
        align-items: center;
        text-align: center;
        display: block;
        width: 100%;
        margin: 10px 0;
    }
    i {
        color: black;
        text-decoration: none !important;
        font-weight: bold;
    }

    a {
        color: inherit;
        text-decoration: none !important;
        font-weight: bold;
    }
    a:hover {
        color: #fff;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
    }
    }


.buttont {
    //background-color: #333;
    backdrop-filter: blur(10px);
    color: #fff;
}

.buttonHome {
    margin-bottom: 10px;
    padding: 10px 15px;
    border: transparent;
    transition: .5s ease;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    color: black;
    background: rgba(255, 255, 255, 0.441);
    animation: pulse 2s infinite;
    .buttonHome:hover {
        text-decoration: none;
        color: #222;
        font-size: 1em;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.74); 
        backdrop-filter: blur(10px);
    }
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
}

.buttonCreate {
    margin-bottom: 10px;
    padding: 5px 10px;
    border: transparent;
    transition: .5s ease;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    color: black;
    background: rgba(255, 255, 255, 0.441);
    margin-left: 10px;
    }

button:hover {
    text-decoration: none;
    color: #222;
    font-size: 1em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.74); 
    backdrop-filter: blur(10px);
}

.selectm {
    width: 100%;
    height: 100px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.selectm:focus {
    //border: 1px solid #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.form {
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    //max-width: 500px;
    padding: 10px;
    backdrop-filter: blur(5px);
    background: transparent;
    border-radius: 5px;
    //box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    outline: transparent;
    transition: 1s ease;
}

.form:focus {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    color: #222;
    outline: none;
}